
body{
    margin: 10px;
}
.header{
    height: 40px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: lightgoldenrodyellow;
    align-items: center;

}
.flight-logo-img {
    height: 70px;
    width: 100px;
    object-fit: contain; /* Ensures the image scales nicely within the dimensions */
}
.menu{
    display: flex;
    gap: 100px;
    list-style: none;
}
.menu a{
    text-decoration: none;
}
.menu a:hover{
    color: red;
}
button{
    background-color: palegreen;
}
.contact-button a:hover{
    
    color: darkgoldenrod;
}

 .banner{
     margin: 20px;
  height: 500px;
  width: 100%;
  position: relative; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
.video-bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-bg{
    
    position: absolute;
    right: 0;
    bottom: 0;
    z-index:-1; 
}
@media(main-aspect-ratio:16/9){
    .video-bg{
        width: 50%;
        height: auto;
    }
    @media(main-aspect-ratio:16/9){
        .video-bg{
            width: auto;
            height: 100%;
        }
    }
}
.para {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideUp 1s forwards;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    font-size: large;
    text-align: center;
    line-height: 1.5;
}
.para:nth-child(1) {
    animation-delay: 0.5s;
}
.para:nth-child(2) {
    animation-delay: 2s;
}
.para:nth-child(3) {
    animation-delay: 3.5s;
}

@keyframes fadeSlideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.service{
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 5px;
    background-color:pink;
    

}
.services{
    display: flex;
    gap: 50px;
    font-style: italic;
    text-align: center;
    justify-content: center;
    .service-img{
        display: inline-block;
        padding-bottom: 0.35rem;
        border-bottom: 5px solid rgb(14, 223, 52);
    }
}
.service-img {
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    max-width: 100%; 
    object-fit: cover; 

}
.about-section{
    text-align: center;
    padding-top: 30px;
    display: flex;
    gap: 15px;
    margin-top: 10px;
    justify-content: space-evenly;

}
.side-img{
    max-width: 400px;
    height: 400px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-text{
    max-width: 500px;
    text-align: justify;
}